/VisDrone2019
/runs/detect/results/tracking/uav0000117_02622_v/
/runs/detect/results/tracking/uav0000137_00458_v/
/runs/detect/results/tracking/uav0000182_00000_v/
/runs/detect/results/tracking/uav0000268_05773_v/
/runs/detect/results/tracking/uav0000305_00000_v/
/runs/detect/results/tracking/uav0000339_00001_v/
